@charset "UTF-8";

body{
    background-color: rgb(67, 67, 252);
    font:normal 16pt 'Arial';
    margin: auto;
    width: 100%;
    min-height: 350px;
    overflow-x:hidden;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 450px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.494);
}
.dig{
    margin: 10px;

}
.inp1{
    margin-left: 9px;
}
.inp2{
    margin-left: 25px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

